@model DestinaMarket.Entities.Category
@{
    ViewBag.Title = "Sil";
}

<h2>Kategori Sil</h2>

<h1>Bu Kategoriyi Silmek İstiyor Musunuz?</h1>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Evet, Sil</button>
</form>

<a href="/Index">İptal</a>
