
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        İşlemler
                    </h2>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning"><a href="@Url.Action("Index", "Product")" style="font-size:x-large;font-weight:bold">Ürünler</a></li>
            <li class="list-group-item list-group-item-success"><a href="@Url.Action("Index", "Category")" style="font-size:x-large;font-weight:bold">Kategoriler</a></li>
            <li class="list-group-item list-group-item-danger"><a href="@Url.Action("Index", "Order")" style="font-size:x-large;font-weight:bold">Siparişler</a></li>
        </ul>
    </div>
</section>
